@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* body {
    font-family: 'Times New Roman', sans-serif;

} */


ul.no-bullets {
    list-style-type: none;
}

#profile-picture {
    padding-left: 3px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}